[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopandas = "*"
pytest = "*"
pylint = "*"
simplejson = "*"

[dev-packages]
flit = "*"

[requires]
python_version = "3.6"
